<div class="stats">
  <section>
    <h3><%= @domain.url %></h3>
    <%= link_to "Edit", edit_domain_path(@domain) %> | <%= link_to "Delete", domain_path(@domain), method: :delete, confirm: "Are you sure?" %>
  </section>
  <section>
    <h3><%= @domain.comments.all.count %></h3>
    Total Submissions
  </section>
  <section>
    <h3><%= time_ago_in_words(@domain.created_at) %></h3>
    This survey has been active</dh1>
  </section>
</div>

<% if @domain.comments.count == 0 %>
  <h3 style="margin: 50px 0;">Nothing here quite yet</h3>
<% else %>
  <div class="table">
    <table>
      <tr>
        <td></td>
        <td>Submitted on</td>
        <td>Submitted from</td>
        <% unless @domain.field_1.blank? %>
          <td><%= @domain.field_1 %></td>
        <% end %>
        <td><%= @domain.title %></td>
      </tr>
      <% comment_number = 0 %>
      <% @comments.each do |comment| %>
        <% comment_number += 1 %>
        <tr>
          <td><%= comment_number %></td>
          <td><%= comment.created_at.strftime("%m/%d/%Y") %><br>
            <%= comment.created_at.strftime("at %I:%M%p") %>
          <td><%= comment.url %></td>
          <% unless @domain.field_1.blank? %>
            <td><%= field_display(comment) %></td>
          <% end %>
          <td><%= comment.feedback %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<%= will_paginate @comments %>