<h2><%= @domain.url %></h2>
<h4><%= @domain.title %></h4>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Email</th>
      <th>Feedback</th>
    </tr>
  </thead>

  <tbody>
    <% @domain.comments.each do |comment| %>
      <tr>
        <td><%= comment.url %></td>
        <td><%= comment.email %></td>
        <td><%= comment.feedback %></td>
      </tr>
    <% end %>
  </tbody>
</table>
