<section class="controls left-side ui raised segment">
  <div class="ui form">
    <%= form_for(resource, :as => resource_name,
      :url => registration_path(resource_name),
      :html => {:id => "sign_up_user"},
      :format => :json,
      :remote => true ) do |f| %>

      <%= f.fields_for :domains, Domain.new do |builder| %>
        <div class="field">
          <%= builder.label :url %>
          <%= builder.text_field :url, placeholder: "name of your domain", :class => "user-domain", :required => true %>
        </div>
        <div class="field">
          <%= builder.radio_button(:tint, "dark", id: 'turn_dark', :class => 'theme-choose', :checked => true) %>
          <label for="turn_dark">Dark</label>
          <%= builder.radio_button(:tint, "light", id: 'turn_light', :class => 'theme-choose') %>
          <label for="turn_light">Light</label>
        </div>
        <div class="field determine-display">
          <%= builder.radio_button(:display, true, :checked => true, :id => 'yes-display') %>
          <label for="yes-display">Show on load</label>
          <%= builder.radio_button(:display, false, :id => 'no-hide') %>
          <label for="no-hide">Hide on load</label>
        </div>
        <%#= builder.radio_button(:content_type, "mult-choice", :checked => true) %>
        <%#= builder.label(:content_type, "Multiple Choice") %>
        <%#= builder.radio_button(:content_type, "free-form") %>
        <%#= builder.label(:content_type, "Free form") %><br>
        <div class="field">
          <%= builder.label :title %>
          <%= builder.text_field :title, :id => "headline_text", :class => "headline-text" %>
        </div>
        <div class="field">
          <%= builder.label :field_1, "Input Field" %>
          <%= builder.text_field :field_1, :class => "email-text", :id => "email_text" %>
        </div>
        <div class="field">
          <%= builder.label :field_2, "Text field" %>
          <%= builder.text_field :field_2, :class => "body-text", :id => "body_text" %>
        </div>
        <%#= builder.text_field :question_1 %>
        <%#= builder.label :question_1, "Question 1" %>

        <%#= builder.text_field :question_2 %>
        <%#= builder.label :question_2, "Question 2" %>

        <%#= builder.text_field :question_3 %>
        <%#= builder.label :question_3, "Question 3" %>

        <%#= builder.text_field :question_4 %>
        <%#= builder.label :question_4, "Question 4" %>

      <% end %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "your email", :class => "user-email", :required => true %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: "password", :class => "user-pw", :required => true %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, placeholder: "password confirm", :class => "user-confirm", :required => true %>
      </div>

      <input type="button" name="previous" class="previous action-button ui button" value="back" />
      <%= f.submit "finish", :id => "user_new", :class => "action-button ui green button" %>

    <% end %>
  </div>
</section>