<h2 class="page-header">Surveys</h2>

<ul class="survey-list">
  <% @surveys.each do |f| %>
    <li>
      <div class="left-col">
        <h3><%= f.url %></h3>
        <span><%= f.created_at.strftime("%B %d, %Y") %></span>
        <%= link_to "edit", edit_domain_path(f), :class => "preview-link" %>
        <!--<a href="#modal" id="init-modal" class="preview-link"><%#= icon('search') %> preview</a> -->
      </div>
      <div class="right-col">
        <%= link_to "See all feedback", domain_comments_path(f), :class => "button primary" %>
      </div>
      <code><%= f.embed_code(f.id) %></code>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new survey", new_domain_path, :class => 'button success bottom-20' %>


<div id="modal">
  <span class="modal-close">x</span>
  <h2>test</h2>
</div>

<script type='text/javascript' src='http://www.freesurveycreator.com/embeds/5.js'></script>