<%= form_for(resource, :as => resource_name,
  :url => registration_path(resource_name),
  :html => {:id => "sign_up_user"},
  :format => :json,
  :remote => true ) do |f| %>

  <div class="container">
    <div class="settings" id="msform">
      <%= f.fields_for :domains, Domain.new do |builder| %>
        <fieldset>
          <%= builder.radio_button(:content_type, "mult-choice", :checked => true, :id => "multiple_choice") %>
          <label for="multiple_choice">Multiple Choice</label><br>

          <%= builder.radio_button(:content_type, "free-form", :id => "free_form") %>
          <label for="free_form">Free Form</label>
        </fieldset>

        <fieldset>
          <%= builder.radio_button(:tint, "dark", id: 'turn_dark', :class => 'theme-choose', :checked => true) %>
          <label for="turn_dark">Dark</label><br>

          <%= builder.radio_button(:tint, "light", id: 'turn_light', :class => 'theme-choose') %>
          <label for="turn_light">Light</label>
        </fieldset>

        <fieldset>
          <%= builder.text_field :title, :id => "headline_text", :class => "headline-text" %>
          <%= builder.label :title %><br>

          <%= builder.text_field :field_1, :class => "email-text", :id => "email_text" %>
          <%= builder.label :field_1, "Input Field" %><br>

          <%= builder.text_field :field_2, :class => "body-text", :id => "body_text" %>
          <%= builder.label :field_2, "Text field" %><br>

          <%= builder.text_field :question_1 %>
          <%= builder.label :question_1, "Question 1" %><br>

          <%= builder.text_field :question_2 %>
          <%= builder.label :question_2, "Question 2" %><br>

          <%= builder.text_field :question_3 %>
          <%= builder.label :question_3, "Question 3" %><br>

          <%= builder.text_field :question_4 %>
          <%= builder.label :question_4, "Question 4" %><br>
        </fieldset>

        <fieldset>
          <div class="determine-display">
            <%= builder.radio_button(:display, true, :checked => true, :id => 'yes-display') %>
            <label for="yes-display">Show on load</label><br>

            <%= builder.radio_button(:display, false, :id => 'no-hide') %>
            <label for="no-hide">Hide on load</label>
          </div>
        </fieldset>

        <fieldset>
          <%= builder.text_field :url, :class => "user-domain", :required => true %>
          <%= builder.label :url, "Name your widget" %><br>

          <%= f.email_field :email, :class => "user-email", :required => true %>
          <%= f.label :email %><br>

          <%= f.password_field :password, :class => "user-pw", :required => true %>
          <%= f.label :password %><br>

          <%= f.password_field :password_confirmation, :class => "user-confirm", :required => true %>
          <%= f.label :password_confirmation %><br>
        </fieldset>
      <% end %>
    </div>
  </div>

  <%= f.submit "finish", :id => "user_new", :class => "action-button ui green button" %>

<% end %>

<div class="platform"></div>

<% content_for :js do %>
  <%= javascript_include_tag 'slider' %>
  <%= javascript_include_tag 'create_feedback' %>
  <%= javascript_include_tag 'widget' %>
<% end %>

