<div class ="wrapper">

  <div class="headline">
    <h1>create a survey. get user feedback for free</h1>
    <h3 class="sub-headline">No "freemium" - just free. Create and customize your survey tool now in less than a minute.</h3>
  </div>
  <% if !current_user %>
    <%= render 'form' %>

    <div class="platform">
      <i class="arrow-icon"></i>
      <span class="handwritten"></span>
    </div>
    <% else %>
      <div class="call-to-action-holder">
        <%= link_to "Create a new survey", new_domain_path, :class => 'button success xlarge' %>
      </div>
    <% end %>
</div>

<div class="info-steps">
  <div class="wrapper">
    <%= render 'step_info' %>
  </div>
</div>

<section class="comparisons">
  <div class="wrapper">
    <h2>Some simple comparisons</h2>
    <div class="features">
      <ul>
        <li>Max # Active Surveys</li>
        <li>Max # Responses</li>
        <li>Survey Statistics</li>
        <!-- <li>Max # Admins</li> -->
        <li>Support</li>
        <li>Custom Colors</li>
        <li>Mobile Support</li>
        <li>White Labeling</li>
      </ul>
    </div>
    <div class="compare-module">
      <div class="pricing">
        <h4 class="company">Qualaroo</h4>
        <h5 class="cost"><span class="currency">$</span>249<span class="period">/mo</span></h5>
      </div>
      <div class="checklist">
        <ul>
          <li>Unlimited</li>
          <li>5,000</li>
          <li><%= icon('check') %></li>
          <!-- <li>3</li> -->
          <li>Email/Phone</li>
          <li><%= icon('check') %></li>
          <li><%= icon('check') %></li>
          <li><%= icon('check') %></li>
        </ul>
      </div>
    </div>
    <div class="compare-module">
      <div class="pricing">
        <h4 class="company">Web Engage</h4>
        <h5 class="cost"><span class="currency">$</span>249<span class="period">/mo</span></h5>
      </div>
      <div class="checklist">
        <ul>
          <li>25</li>
          <li>7,500</li>
          <li><%= icon('check') %></li>
          <!-- <li>10</li> -->
          <li>Email/Phone</li>
          <li><%= icon('check') %></li>
          <li><%= icon('check') %></li>
          <li><%= icon('ban') %></li>
        </ul>
      </div>
    </div>
    <div class="compare-module">
      <div class="pricing">
        <h4 class="company">[Company]</h4>
        <h5 class="cost"><span class="currency">$</span>0<span class="period">/mo</span></h5><br>
        <a href="#" class="button success">get started</a>
      </div>
      <div class="checklist">
        <ul>
          <li>Unlimited</li>
          <li>Unlimited</li>
          <li><%= icon('check') %></li>
          <!-- <li>Unlimited (coming soon)</li> -->
          <li>Email</li>
          <li>Black &amp; White</li>
          <li>Coming Soon</li>
          <li>Coming Soon</li>
        </ul>
      </div>
    </div>
  </div>
</section>



<div id="code-container"></div>
<a href="#code-container" style="visibility: hidden;" id="go">go</a>

<%= render 'embeds/widget_css' %>

<% content_for :js do %>
  <%= javascript_include_tag 'slider' %>
  <%= javascript_include_tag 'create_feedback' %>
  <%= javascript_include_tag 'widget' %>
<% end %>

