<% content_for :css do %>
  <%= stylesheet_link_tag 'widget' %>
<% end %>

<div class="wrapper">

  <div class="headline">
    <h1>create a survey. get user feedback for free</h1>
    <h3 class="sub-headline">No "freemium" - just free. Create and customize your survey tool now in less than a minute.
  </div>
  <% if !current_user %>
    <%= render 'form' %>

    <div class="platform">
      <i class="arrow-icon"></i>
      <span class="handwritten"></span>
    </div>
    <% else %>
      <div class="call-to-action-holder">
        <%= link_to "Create a new survey", new_domain_path, :class => 'button success xlarge' %>
        <%= link_to "See my surveys", user_path(current_user), :class => 'button left-20 xlarge' %>
      </div>
    <% end %>
</div>

<div class="info-steps">
  <div class="wrapper">
    <%= render 'step_info' %>
  </div>
</div>

<%#= render 'price_chart' %>
<div class="wrapper">
  <blockquote cite="http://startup-guys.com/importance-customer-feedback" class="quote"><span>"</span>Customer feedback is singlehandedly one of the most important things you are ever going to get while at your company. As soon as possible your company should be getting feedback from its customers or even potential customers."</blockquote>
</div>

<div id="modal">
  <span class="modal-close">x</span>
  <ul class="example-list">
    <li>
      "Questions? Reach out to us by filling out the form and we'll get back to you ASAP"
    </li>

    <li>
      "What feature would you like to see built next?"
    </li>

    <li>
      "Insert your email here to receive future updates"
    </li>

    <li>
      "What do you think about our new design?"
    </li>

    <li>
      "Did you find what you were looking for on this page?"
    </li>

    <li>
      "Was this article informative?"
    </li>

    <li>
      "Did you find our pricing to be clear and transparent?"
    </li>

    <li>
      "How likely are you to recommend this site to a friend?"
    </li>
  </ul>
</div>

<div id="code-container"></div>
<a href="#code-container" style="visibility: hidden;" id="go">go</a>

<%= render 'embeds/widget_css' %>

<% content_for :js do %>
  <%= javascript_include_tag 'slider' %>
  <%= javascript_include_tag 'create_feedback' %>
  <%= javascript_include_tag 'widget' %>
<% end %>

