<div class="feedback-container <%= @domain.tint %>" id="widget_<%= @domain.id %>">
  <div class="success-notif" style="display: none;">
    <h3>Awesome</h3>
    <p>Thanks for lending a hand</p>
  </div>
  <p class="action-call" id="_3cl_"><%= @domain.title %><span class="minus">–</span></p>
  <form
    id="feedback_form_839224"
    method="post"
    action="<%= RAW_URL %>/domains/<%= @domain.id %>/comments"
    name="a_feedback_form"
    class="<%= initial_display(@domain.display) %>"
    data-form-id="<%= @domain.id %>">
    <input
      id="domain_id"
      name="comment[domain_id]"
      type="hidden"
      value="<%= @domain.id %>">
    <input
      id="comment_url"
      name="comment[url]"
      type="hidden">

  <% if @domain.content_type == "mult-choice" %>
    <div class="m_choice">
      <input type="radio" id="question_1" name="comment[feedback]" value="<%= @domain.question_1 %>" required>
      <label for="question_1"><%= @domain.question_1 %></label>
    </div>
    <div class="m_choice">
      <input type="radio" id="question_2" name="comment[feedback]" value="<%= @domain.question_2 %>">
      <label for="question_2"><%= @domain.question_2 %></label>
    </div>
    <% unless @domain.question_3.blank? %>
      <div class="m_choice">
        <input type="radio" id="question_3" name="comment[feedback]" value="<%= @domain.question_3 %>">
        <label for="question_3"><%= @domain.question_3 %></label>
      </div>
    <% end %>
    <% unless @domain.question_4.blank? %>
      <div class="m_choice">
        <input type="radio" id="question_4" name="comment[feedback]" value="<%= @domain.question_4 %>">
        <label for="question_4"><%= @domain.question_4 %></label>
      </div>
    <% end %>

  <% else %>
    <% unless @domain.field_1.blank? %>
      <input
        class="interactive"
        id="feedback_email"
        name="comment[email]"
        placeholder="<%= @domain.field_1 %>"
        type="text">
    <% end %>
    <% unless @domain.field_2.blank? %>
      <textarea
        class="interactive"
        id="feedback_text"
        name="comment[feedback]"
        placeholder="<%= @domain.field_2 %>"
        rows="4" required></textarea>
    <% end %>
  <% end %>

    <input
      class="interactive submit-button"
      name="commit"
      type="submit"
      value="Submit">

  </form>
</div>