<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Feedback App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Feedback App" %>">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <header class="nav">
      <%= render 'layouts/navigation' %>
    </header>
    <div role="main" class="wrapper">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>

    <%= yield :js %>
  </body>
</html>
