<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Free Survey Creator | FSC." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Create and customize your survey tool in less than a minute for free" %>">

    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'widget' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

  </head>
  <body class="landing-page">
    <div class="bg-fill"></div>
    <header class="nav">
      <div class="wrapper">
        <%= render 'layouts/navigation' %>
      </div>
    </header>

    <div class="wrapper">
      <%= render 'layouts/messages' %>
    </div>

    <%= yield %>

    <%= yield :js %>
  </body>
</html>
